{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Actualizar movimiento{% endblock title %}
{% block content %}
	<h2>Editar movimiento: #{{movimiento.id}} {{movimiento.descripcion}}</h2>

	<hr>
	<form action="" method="post" class="form_fix" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-edit-activo">
			{{  form|crispy }}	
		</div>
		<hr>
		<div class="ag-bot-sec ag-pad-b-5" style="color:black;">
			<input type="submit" value="Actualizar" class="btn btn-warning font-weight-bold" />
			<a href="{% url 'walletlist' %}" class="btn btn-dark">Cancelar</a>
		</div>
	</form>
		

{% endblock content %}