{% extends 'base.html' %}
{% block title %}Eliminar movimiento{% endblock title %}
{% block content %}
	<h2>¿Está Seguro que desea eliminar el <strong>Activo #{{movimiento.id}} {{movimiento.descripcion}}</strong>?</h2>
	<hr>
	<form action="" method="post">{% csrf_token %}
		<div class="bot-sec ag-mb-10">
			<input type="submit" value="Eliminar" class="btn btn-danger font-weight-bold" />
			<a href="{% url 'walletlist' %}" class="btn btn-dark">Cancelar</a>
		</div>
		
	</form>
		

{% endblock content %}