{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
<h2>Creando Movimiento</h2>
<small class="text-muted">
	<ul>
		<li>Para un ingreso de dinero cargue normalmente el valor en el campo Monto</li>
		<li>Para Registrar un Gasto, ante ponga el signo negativo "-" al valor ingresado en el campo Monto (ej:-225,50)</li>
	</ul>
</small>
<div class="izq">
	
</div>
<hr>
<form action="" method="post" class="form_fix">{% csrf_token %}
	{{ form|crispy }}
	<hr>
	<div class="ag-bot-sec ag-pad-b-5">
		<input type="submit" value="Guardar" class="btn btn-success">
		<a href="{% url 'walletlist' %}" id="nuevoact" class="btn btn-dark sep font-weight-bold">Cancelar</a>
	</div>

</form>
{%endblock content%}