{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Iniciar Sesión{% endblock title %}

{% block content %}
<div class="ag-cent-elem mt-4 p-5 ag-login-card">
	<h2>Iniciar Sesión</h2>
	<hr>
	<form method="post" >
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-success ml- ">Iniciar Sesión</button>
	</form>
	
	<hr>
	<div>
		<small class="text-muted">
			¿No tenes una cuenta? <a href="{% url 'signup'%}" class="ml-2">Registrarse</a>
		</small><br>
		<small class="text-muted">
			¡Olvidé mi contraseña! <a href="{% url 'password_reset'%}" class="ml-2">Recuperar Contraseña</a>
		</small>
	</div>
</div>
	
{% endblock content %}