{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="ag-h2">Cambiar Contraseña</h2>
<p class="text-muted ag-sang">Por favor ingrese su contraseña, luego repitala para verificar que la ha escrito correctamente.</p>
<form method="POST" class="ag-cent-elem">
	{% csrf_token %}
	{{ form|crispy }}
	<input class="btn btn-success" type="submit" value="Cambiar contraseña">
</form>
{% endblock content %}