{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Ingrese su nueva contraseña{% endblock title %}
{% block content %}
<h2 class="ag-h2">Ingrese su nueva contraseña</h2>
<form method="POST" class="ag-cent-elem">
	{% csrf_token %}
	{{ form|crispy }}
	<input class="btn btn-success" type="submit" value="Cambiar contraseña">
</form>
{% endblock content %}