{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock title %}
{% block content %}
<h1>Reinicio de contraseña completo</h1>
	<p>Su nueva contraseña ha sido configurada. Por favor Vuelva a <a href="{% url 'login' %}">Iniciar Sesión</a>.</p>
{% endblock content %}