{% extends 'base.html' %}
{% block title %}Email Sent{% endblock title %}
{% block content %}
	<h2 class="ag-h2">Revise su bandeja de entrada</h2>
	<p>Le hemos enviado un email con instrucciones para resetear su contraseña. Ud. deberia recibirlo pronto.</p>
	<small class="text-muted ag-sang">Equipo Aguará</small>
{% endblock content %}