{% extends 'base.html' %}
{% block title %}Contraseña cambiada exitosamente{% endblock title %}
{% block content %}
<h2 class="ag-h2">Contraseña cambiada exitosamente</h2>
<p class="text-muted ag-sang">Su contraseña fue cambiada</p>
{% endblock content %}