{% extends 'base.html' %}
{% block title %}¿Olvido su contraseña?{% endblock title %}
{% block content %}
<div class="ag-cent-elem">
	<h2 class="ag-h2">¿Olvido su contraseña?</h2>
	<p> Ingrese su dirección de correo electrónico debajo para recibir instrucciones para configurar una nueva contraseña.</p>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input class="btn btn-success" type="submit" value="Enviar instrucciones">
	</form>
</div>
{% endblock content %}	