*{
	margin:0;
	padding:0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
*::selection{
	background:#84588e;
    color: #fff;
}
html{
	height: 100%;
}
body{
	background: #E7E7E7;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
h2{
	margin-top: 2%;
}
th, td{
	text-align: center;
}
.ag-col-{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ag-bg-viol{
	background: #522d5b;
}
.ag-h2{
	font-size: 35px;
}
.ag-sang{
	text-indent: 1.5em;
}
.ag-inteiner{
	padding-right: 5%;
	padding-left: 5%;
}
.ag-cent-elem{
	width: 50%;
	margin: auto;
}
.ag-login-card{
	background: #fff;
	width: 40%;
	border-radius: 10px;
	text-align: center;
}
.ag-footg{
	color: #f7f7f7;
	background-color: black;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 0;
	width: 100%;
}
.ag-foot{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	padding-top: 2%;
    padding-bottom: 2%;
}

.ag-inn_foot{
	width: 20%;
	height: auto;
	display: flex;
	justify-content: center;
	padding-right: 1%;
}
.ag-ic-foot{
	display: flex;
	justify-content: space-around; 
	list-style: none; 
	font-size: 25px;
}
.ag-mt-10{
	margin-top: 10%;
}
.ag-mb-10{
	margin-bottom: 10%;
}
.ag-border{
	border-radius: 50%;
}
.page-item:last-child .page-link{
	border-radius: 20px;
}
.page-item:first-child .page-link{
	border-radius: 20px;
}
.izq{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 2%;
}
.cnegro{
	color: #000;
}
.icono{
	font-size: 1.5rem;
}
.crojo{
	color: #F00;
}
.camarillo{
	color: #BF9500;
}
.cblanco{
	color: #fff;
}
.ag-flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.ag-tot-money{
	background: #84588e;
	height: 35px;
	border-radius: 25px;
	margin: auto;
	width: 280px;
	font-size: large;
	color: white;
}
.ag-float-right{
	float: right;
}
.ag-bot-sec{
	display: flex;
	justify-content: space-around;
	padding-top:3%;
}
.ag-pad-b-5{
	padding-bottom: 3%;
}
.ag-link{
	color: #f7f7f7;
}
.ag-link:hover{
	color: #C7C7C7;
}
.ag-btn-registro{
	color: #fff;
    background-color: #522d5b;
    border-color: #fff;
}
.ag-btn-registro:hover {
    color: #fff;
    background-color: #BA68C8;
    border-color: #BA68C8;
}
/* Override Bootstrap*/

.page-link{
	color: white;
	background-color: #84588e
}
.page-link:hover{
	color: #84588e;
	background-color: #fff;
	font-weight: 900;
}
.page-item.active .page-link{
	color: #84588e;
	background-color: #fff; 
	border-color: #84588e; 
	font-weight: 900;
}
.btn-outline-secondary {
    color: #522d5b;
    background-color: #fff;
    border-color: #fff;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #BA68C8;
    border-color: #BA68C8;
}