{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre WallPy{% endblock title %}

{% block content %}
		<div style="width: 59%; margin: auto; display: inline-block;">
			{% for x in contexto %}
				<h2>{{x.titulo}}</h2>
				{{x.texto|safe}}
			{% endfor %}
		</div>
		<aside style="width: 40%; margin: auto; display: inline-block; flex-direction: column; justify-content: space-around; text-align: center;">
			<img src="{% static 'chango.svg' %}" class="" style="margin-bottom: 15%" />
			<img src="{% static 'chica.svg' %}" class="" style="margin-bottom: 15%" />
			<small><a href="https://stories.freepik.com/finance">Ilustraciones de Freepik Stories</a></small>
		</aside>
{% endblock content %}