{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/7156f13c41.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon-01.png' %}" />
    <title>{% block title %}Wallpy{% endblock title %}</title>
  </head>
  <body>
    
	<nav class="navbar navbar-expand-md navbar-dark ag-bg-viol mb- ag-inteiner">
		<a class="navbar-brand" href="{% url 'home' %}"><h2><i class="fas fa-piggy-bank"></i> Wallpy</h2></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarCollapse">
			{% if user.is_authenticated %}
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'walletlist'%}"><i class="fas fa-wallet"></i> Mi Billetera</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#"><i class="far fa-list-alt"></i> To:Do</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about'%}"><i class="fas fa-users-cog"></i> Sobre WallPy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i> Hola, {{ user.username }}</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
							<a class="dropdown-item" href="{% url 'password_change'%}"><i class="fas fa-key"></i> Cambiar Contraseña</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
						</div>
					</li>
					
				</ul>
		{% else %}
			<form class="form-inline ml-auto">
				<a href="{% url 'login' %}" class="btn btn-outline-secondary mr-3">Iniciar Sesión</a>
				<a href="{% url 'signup' %}" class="btn btn-primary ml- mr-1 ag-btn-registro">Registrase</a>
			</form>
		{% endif %}
		</div>
	</nav>
	<div class="container mt-4">
		{% block content %}
		{% endblock content %}
	</div>
	<footer class="ag-footg">
		<div class="ag-foot container">
			<div class="ag-inn_foot">Col 1</div>
			<div class="ag-inn_foot mg_3">Col 2</div>
			<div class="ag-inn_foot">Col 3</div>
			<div class="ag-inn_foot ag-col-">
				<h5 class="text-center">Mas referencias</h5>
				<ul class="ag-ic-foot">
					<li><a href="" class="ag-link"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="" class="ag-link"><i class="fab fa-github"></i></a></li>
					<li><a href="" class="ag-link"><i class="fab fa-gitlab"></i></a></li>
					<li><a href="" class="ag-link"><i class="fab fa-twitter-square"></i></a></li>
				</ul>
			</div>
		</div>
		<p class="text-center">Copyright © <a href="#" class="ag-link">aguaratech.com</a> 2020</p>
	</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>