{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Iniciar Sesión{% endblock title %}

{% block content %}

	<h2>Registrarse</h2>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-success ml- ">Registrarse</button>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			¿Ya tenes una cuenta? <a href="{% url 'login' %}" class="ml-2">Autenticarse</a>
		</small>
	</div>
{% endblock content %}