{% extends 'base.html' %}

{% block title %}Billetera{% endblock title %}

{% block content %}

<div class="ag-float-right">
	{% if total %}
	<div class="ag-flex-center ag-tot-money">Su dinero total es: <b> ${{total|floatformat:2}}</b></div>
	{% else %}
	<div class="ag-flex-center ag-tot-money">Su dinero total es: <b>0</b></div>
	{%endif%}
</div>
<h2>Movimientos de Dinero</h2>
<div class="izq">
	<a href="{% url 'altamov' %}" id="nuevoact" class="btn btn-success"><i class="fas fa-plus-circle"></i> Nuevo Movimiento</a>
</div>
<!-- filter bootstrap de djmcu -->
 {% if movimientos %}
<ul class="">
		<table class="table table-striped tab_resp">
		  <thead>
		    <tr>
		      <th scope="col">Nombre</th>
		      <th scope="col">Descripción</th>
		      <th scope="col">Monto</th>
		      <th scope="col">Tipo</th>
		      <th scope="col">Fecha</th>
		      <th scope="col">Editar</th>
		      <th scope="col">Eliminar</th>
		    </tr>
		  </thead>

		  <tbody>
		  	
		    {% for movimiento in movimientos %}
					    <tr>	      
					    	<td>{{movimiento.persona}}</a></td>
					      	<td id="desc">{{movimiento.descripcion|truncatewords:20}}</td>
					      	<td>{{movimiento.monto}}</td>
					      	<td>{{movimiento.tipo}}</td>
					      	<td>{{movimiento.fecha|date:"d/m/Y"}}</td>
					      	<td><a href="{% url 'actualizarmov' movimiento.id %}" class="camarillo icono"><i class="far fa-edit"></i></a></td>
					      	<td><a href="{% url 'borrarmov' movimiento.id %}" class="crojo icono"><i class="far fa-trash-alt"></i></a></td>
					    </tr>
		    {% endfor %}
		  </tbody>
		</table>
</ul>	
</section>

{% if is_paginated %}
	<ul class="pagination ag-flex-center">
		{% if page_obj.has_previous %}
			<li class="page-item mr-1">
				<a href="?page={{page_obj.previous_page_number}}" class="page-link">Anterior</a>	
			</li>
		{% endif %}
		{% for i in paginator.page_range %}
			
				<li class="page-item {% if page_obj.number == i %} active {%endif%}">
					<a href="?page={{i}}" class="page-link ag-border">{{i}}</a>
				</li>
		{% endfor %}
		{% if page_obj.has_next %}
			<li class="page-item ml-1">
				<a href="?page={{page_obj.next_page_number}}" class="page-link">Siguiente</a>	
			</li>
		{% endif %}
	</ul>


{%endif%}

{%else%}
<h3 class="text-secondary text-center ag-mt-10 ag-mb-10">Ups, parece ud. no tiene movimientos registrados aún</h3>
{% endif %}
{% endblock content %}

